@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #181818;
    color: #fff;
    line-height: 1.4;
}

/* utilities */
.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0.5rem 2.2rem;
    border-radius: 3px;
    background: #d00000;
    color: #fff;
    box-shadow: 0 4px 3px -2px rgba(26, 26, 26, 0.5);
    transition: all 0.3s ease;
    font-weight: 400;
}

.btn-lg {
    padding: 1rem 4.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.btn-sm {
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
}

.btn:hover {
    background: #ccc5b9;
    color: #181818;
    font-weight: 500;
}

/* showcase */
.showcase {
    background: url('../img/showcase-2.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.showcase::after {
    content: '';
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: inset 180px 150px 250px #000,
        inset -180px -150px 250px #000;
}

.showcase-top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 2rem 5rem;
}

.showcase-top a {
    color: #fff;
}

.showcase-bottom {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 23vh;
}

.showcase-bottom h1 {
    font-size: 4rem;
}

.showcase-bottom p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

/* category */
.category {
    background: #252422;
    border-top: 3px solid #403d39;
    border-bottom: 3px solid #403d39;
    color: #ccc;
}

.category #category-1:hover,
.category #category-2:hover {
    color: #fff;
    cursor: pointer;
}


.category .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
}

.category-item .icons {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.category-item p {
    font-size: 1.1rem;
}

/* category content */
.category-content .category-content-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin: 0 1.5rem;
}

.card img {
    width: 100%;
    height: 250px;
}

.card {
    background: #252422;
    padding: 1rem;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.card h3 {
    margin-top: 0.5rem;
}

.card p {
    padding: 1.5rem 0;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 6px -8px rgba(255, 255, 255, 0.3);
}

.show {
    display: none !important;
}

/* form */

#category-2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#form-input input {
    width: 100%;
    padding: 0.4rem 0.8rem;
    border: 1px solid #d00000;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.btn-submit {
    display: inline-block;
    width: 100%;
    padding: 0.4rem 0.8rem;
    background: #d00000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 4px 3px -2px rgba(26, 26, 26, 0.5);
    transition: all 0.3s ease;
    font-weight: 400;
}

.btn-submit:hover {
    background: #ccc5b9;
    color: #181818;
    font-weight: 500;
}


footer {
    text-align: center;
    color: #ccc;
    margin: 2rem 0;
}